<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="general.html :: header"> </header>
<div class="container" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="row justify-content-center features">
        <div class="col-sm-6 col-md-5 col-lg-4 mb-2 item">
            <div class="card p-4">
                <i class="fa fa-map-marker icon"></i>
                <h3 class="name">Works everywhere</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a th:href="@{/subject}" class="learn-more">Learn more »</a></div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 mb-2 item">
            <div class="card p-4">
                <i class="fa fa-map-marker icon"></i>
                <h3 class="name">Works everywhere</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 mb-2 item">
            <div class="card p-4">
                <i class="fa fa-map-marker icon"></i>
                <h3 class="name">Works everywhere</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 mb-2 item">
            <div class="card p-4">
                <i class="fa fa-map-marker icon"></i>
                <h3 class="name">Works everywhere</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="#" class="learn-more">Learn more »</a></div>
        </div>
    </div>
</div>
</div>
</body>
</html>