<!DOCTYPE html>
<html lang="ru">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Домашняя страница</title>
</head>
<body>
<header th:insert="general.html :: header"> </header>
<div class="container" style="margin-top: 10px; margin-bottom: 10px;" id="app">
    <div class="row justify-content-center features">
        <div class="col-sm-6 col-md-5 col-lg-4 mb-2 item" v-for="subject in subjects">
            <div class="card p-4">
                <i class="fa fa-map-marker icon"></i>
                <h3 class="name">{{subject.name}}</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a th:href="@{/subject}" class="learn-more">Learn more »</a></div>
        </div>
    </div>
</div>
</div>
<script th:src="@{/js/index.js}"></script>
</body>
</html>