<!DOCTYPE html>
<html lang="ru">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Мой профиль</title>
</head>
<body>
<header th:insert="general.html :: header"> </header>
<div class="container" style="margin-top: 10px; margin-bottom: 10px;" id="my_profile">
    <div class="card">
        <div class="card-body">
            <h3>{{info.fio}}</h3>
            <h5>Ваш номер: {{info.number}}</h5>
            <h5>Ваша почта: {{info.email}}</h5>
            <h5>Страна: Россия</h5>
            <h5>Город: Москва</h5>
            <button class="btn btn-danger" v-on:click="logout">Выйти</button>
        </div>
    </div>
    <div class="card" style="margin-bottom: 20px">
        <div class="card-body">
            <h3>Курсы на который я учусь</h3>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Название курса</th>
                                <th scope="col">Оценка</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="subject_result in subjects_results">
                                <th scope="row">{{subject_result.name}}</th>
                                <td>{{subject_result.mark}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<script th:src="@{/js/my_profile.js}"></script>
</body>
</html>