<!DOCTYPE html>
<html lang="ru">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Регистрация</title>
</head>
<body>
<header th:insert="general.html :: header"> </header>
<div class="container" style="margin-top: 10px; margin-bottom: 10px;">
    <div id = "app">
        <div class="registration-form">
        <form v-on:submit.prevent="addUser">
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group">
                <input type="text" v-model="username" class="form-control item" id="name" placeholder="ФИО">
            </div>
<!--            <div class="form-group">-->
<!--                <input type="text" class="form-control item" id="surname" placeholder="Фамилия">-->
<!--            </div>-->
            <div class="form-group">
                <input type="text" v-model="email" class="form-control item" id="email" placeholder="Почта">
            </div>
            <div class="form-group">
                <input type="password" v-model="password" class="form-control item" id="password" placeholder="Пароль">
            </div>
<!--            <div class="form-group">-->
<!--                <input type="text" class="form-control item" id="phone-number" placeholder="Университет">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <input type="text" class="form-control item" id="birth-date" placeholder="Группа">-->
<!--            </div>-->
            <div class="form-group">
                <input type="submit" class="btn btn-block create-account" value="Зарегистрироваться">
            </div>
        </form>
        </div>
    </div>
    </div>
<script th:src="@{/js/registration.js}"></script>
</body>
</html>