<!DOCTYPE html>
<html lang="ru">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Предмет</title>
</head>
<body>
<header th:insert="general.html :: header"> </header>
<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;" id="subject">
    <div class="row justify-content-center features">
        <div class="col-sm-8 col-md-5 col-lg-8 mb-2 item">
            <div class="card p-2 mb-4" v-for="(test,index) in subject.tests">
                <div class="card-header">
                    {{test.name_chapter}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{test.name_test}}</h5>
                    <h6>Информация о тесте}</h6>
                    <h7>Количество вопросов : {{test.question_number}}</h7><br>
                    <h7>Продолжительность теста : {{test.time}} минут</h7><br>
                    <h7>Дата прохождения теста : {{test.date}}</h7><br>
                    <button class="btn btn-light" :disabled="disabled[index]">Начать тестирование</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-5 col-lg-4 mb-2 item">
            <div class="card p-2">
                <div class="card-header">
                    Преподаватели
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="card p-2">
                <div class="card-header">
                    Группы
                </div>
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item" v-for="group in subject.groups">{{group}}</li>
                </ul>
            </div>
            <div class="card p-2">
                <div class="card-header">
                    Разделы
                </div>
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item" v-for="test in subject.tests">{{test.name_chapter}}</li>
                </ul>
                <a v-bind:href="'/subject/'+subject.indentity+'/new_test'" class="btn btn-light">Добавить тест</a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/subject.js}"></script>
</body>
</html>