<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Тест</title>
</head>
<body>
<header th:insert="general.html :: header"> </header>
<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;" id="test">
    <div class="row justify-content-center features mb-2">
        <div class="col-sm-12 col-md-8 col-lg-6 mb-2 item">
            <div class="card p-2">
                <div class="card-body">
                    <div class="text-center">
                        <h4>{{test_info.test_name }}</h4>
                        <h5>{{time_after}}</h5>
                        <h6>До окончания теста осталось <span id="minutes"></span>:<span id="seconds"></span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center features">
        <div class="col-sm-8 col-md-5 col-lg-10 mb-2 item">
            <div class="card p-2">
                <div class="card-header">
                    {{current_index}} вопрос
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{current_question.question.desc}}</h5>
<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">-->
<!--                        <label class="form-check-label" for="flexRadioDefault1">-->
<!--                            Default radio-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>-->
<!--                        <label class="form-check-label" for="flexRadioDefault2">-->
<!--                            Default checked radio-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">-->
<!--                        <label class="form-check-label" for="flexRadioDefault1">-->
<!--                            Default radio-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>-->
<!--                        <label class="form-check-label" for="flexRadioDefault2">-->
<!--                            Default checked radio-->
<!--                        </label>-->
<!--                    </div>-->
                    <form v-on:submit.prevent="answerQuestion">
                        <div class="input-group">
                            <input type="text" class="form-control item" v-model="current_question.your_answer" id="chapter_test" placeholder="Ответ">
                            <input type="submit" class="add_question" value="Сохранить">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-5 col-lg-2 mb-2 item">
            <div class="card p-2">
                <div class="card-header">
                    Вопросы
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" v-for="(question_answer,index) in test_info.questions_answers" v-on:click="current_question = question_answer;current_index = index+1">{{index+1}} вопрос</li>
                </ul>
                <a v-bind:href="test_id+'/result'" class="btn btn-light">Завершить тест</a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/test.js}"></script>
</body>
</html>